body {
  background-color: black;
}

.container {
  border-radius: 100%;
  border-width: 10px;
  border-color: purple;
  background-color: black;
  border-style: outset;
  height: 450px;
  width: 500px;
}

.col-5 {
  bottom: -40px;
  left: 38px;
  height: 132px;
  margin-bottom: 10px;
}

button {
  height: 100%;
  width: 100%;
   
}

#start {
  height: 50px;
  width: 100px;
}

#Strict{
  border-radius: 50%;  
  height: 50px;
  width: 100px; 
  background-color: #FF3D00; 
}

#reset{
  border-radius: 50%;  
  height: 50px;
  width: 100px; 
  
}